In [1]:
import re

In [4]:
chat1 = 'codebasics: Hello, I am having an issue with my order # 412889912'

pattern = 'order.\D*(\d*)'
matches = re.findall(pattern, chat1)
matches

['412889912']

In [5]:
#There are many ways to do the same thing. 

pattern = 'order[^\d]*(\d*)'
matches = re.findall(pattern, chat1)
matches

['412889912']

In [6]:
chat2='codebasics: I have a problem with my order number 412889912'

pattern = 'order[^\d]*(\d*)'
matches = re.findall(pattern, chat1)
matches

['412889912']

In [7]:
chat3='codebasics: My order 412889912 is having an issue, I was charged 300$ when online it says 280$'

pattern = 'order[^\d]*(\d*)'
matches = re.findall(pattern, chat1)
matches

['412889912']

In [8]:
#We can define a function to get matches using regex

def get_matches(pattern, text):
    matches = re.findall(pattern, text)
    
    if matches:
        return matches[0]

In [9]:
get_matches('order[^\d]*(\d*)', chat3)

'412889912'

### Getting E-mail or phone

In [15]:
chat1 = 'codebasics: you ask lot of questions ðŸ˜   1235678912, abc@xyz.com'
chat2 = 'codebasics: here it is: (123)-567-8912, abc123@xyz.com'
chat3 = 'codebasics: yes, phone: 1235678912 email: def456@xyz.com'

In [16]:
pattern = '[a-zA-Z0-9]*@[a-zA-Z0-9]*\.[a-zA-Z]*'

get_matches(pattern, chat1)

'abc@xyz.com'

In [17]:
get_matches(pattern, chat2)

'abc123@xyz.com'

In [18]:
get_matches(pattern, chat3)

'def456@xyz.com'

#### Phone numbers

In [19]:
pattern = '\d{10}|\(\d{3}\)-\d{3}-\d{4}'

get_matches(pattern, chat1)

'1235678912'

In [20]:
get_matches(pattern, chat2)

'(123)-567-8912'

In [21]:
get_matches(pattern, chat3)

'1235678912'

## Regex for information extraction

In [22]:
text = '''Born	Kim Tae-hyung
December 30, 1995 (age 27)
Daegu, South Korea
Education	Korean Arts High School
Global Cyber University
Occupations	
Singersongwriter
Honours	 Hwagwan Order of Cultural Merit (2018)
Musical career
Genres	
R&Bneo soulindie popK-pop
Instrument(s)	Vocals
Years active	2013â€“present
Labels	Big Hit
Member of	BTS'''

In [27]:
pattern = 'Born(.*)'

get_matches(pattern, text).strip()

'Kim Tae-hyung'

In [28]:
pattern = 'Born.*\n(.*)'

get_matches(pattern, text)

'December 30, 1995 (age 27)'

In [38]:
def extract_information(text):
    name = get_matches('Born(.*)', text)
    age = get_matches('\(age (\d*)\)', text)
    bday = get_matches('Born.*\n(.*)\(', text)
    homeTown = get_matches('Born.*\n.*\n(.*)',text)
    member_of = get_matches('Member of(.*)', text)
    
    return {
        'name': name.strip(),
        'age': int(age),
        'BirthDay': bday,
        'Home Town': homeTown,
        'Member of': member_of.strip()
    }

In [39]:
extract_information(text)

{'name': 'Kim Tae-hyung',
 'age': 27,
 'BirthDay': 'December 30, 1995 ',
 'Home Town': 'Daegu, South Korea',
 'Member of': 'BTS'}

In [40]:
text = '''Born	Jeon Jung-kook
September 1, 1997 (age 26)
Busan, South Korea
Education	School of Performing Arts Seoul
Global Cyber University
Occupation	Singer
Honours	 Hwagwan Order of Cultural Merit (2018)
Musical career
Genres	
K-popEDM[1]
Instrument(s)	Vocals
Years active	2013â€“present
Labels	Big Hit
Member of	BTS'''

In [41]:
extract_information(text)

{'name': 'Jeon Jung-kook',
 'age': 26,
 'BirthDay': 'September 1, 1997 ',
 'Home Town': 'Busan, South Korea',
 'Member of': 'BTS'}